* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Rubik', sans-serif;
}

.container {
    margin-bottom: 40px;
}

.heading {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
}

.social .social__icon:hover {
    cursor: pointer;
}

.social, .control {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}

.social__icon {
    margin: 5px;
}

.social__select, .control__select {
    text-decoration: none;
    color:#000;
    padding-left: 20px;
}

.social a:hover,.control > a:hover {
    color:#2568ef;
}

/* navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abcd {
    width: 100px;
    height: 100px;
    animation-duration: 3s;  
    top: 300px;left:700px;
    position: relative;
    border-radius: 50%;
    border-bottom: 10px solid green;
    border-right: 1px solid#FF3366;
    border-left: 1px solid red;
    border-top: 10px solid #FF3366;
    animation:example1 linear 1s infinite;
}



@keyframes example1 {
from {
    transform:rotate(0)
    }
to {
    transform:rotate(-360deg);
    }
}


/* nav */

.navbar {
    display: flex;
    height: 100px;
    line-height:100px;
    justify-content: space-between;
    align-items: center;
  
}

.navbar-block {
    display: flex;
    height: 46px;
    line-height:46px;
    align-items: center;
}

.navbar-logo {
    height: 35px;
    width:162px;
    background-image: url("../img/logo/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin:0px 30px 0px 0px;
}

.navbar-content__header {
    display:flex;
    list-style: none;
}

.navbar-content__header>li {
    margin:0px 13px;

}
.navbar-content__header>li:first-child {
    margin-left:10px;
}

.navbar-content__header {
    font-size:16px;
}

.navbar-content__header__icon {
    font-size:9px;
    margin-left:5px;
    
}

.navbar-control__subscribe {
    width: 132px;
    height: 44px;
    background-color:var(--primary-color);
    border:none;
    border-radius:5px;
    color:#fff;
    font-size: 16px;
    
}

.navbar-control__search {
    width: 44px;
    height: 44px;
    line-height: 46px;
    border:none;
    border-radius:3px;
    margin-left: 6px;
    font-size: 16px;
    cursor: pointer;
}

.navbar-control__subscribe:hover,
.navbar-control__search:hover {
    background-color:var(--hover-color);
    color:#fff;
}

.navbar-control__search_icon {
    position: relative;
    margin-top: 2px;
    top:5%;
}

/* post */
.post {
    width: 100%;
    display: flex;
}


.post .post__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

#info .post__list {
    min-height: 185px;
}

.post__list {
    padding: 8px;
    font-weight: 800;
    line-height: 28px;
    font-size: 22px;
}


.post--bublbe .post__content__point {
    background-color:#994db1;

}

.post--skyblue .post__content__point {
    background-color:  #2590ed;

}

.post--blue .post__content__point {
    background-color: #0d30c3;

}

.post--pink .post__content__point {
    background-color:  #c74970;

}

.post--orange .post__content__point {
    background-color:#ed7e4f;

}

.post__content{
    height:28px;
    line-height:28px;
    border:solid 1px #ccc;
    border-radius:28px;
    padding: 4px 12px;
    font-size: 14px;
    margin:0px 10px 10px 0px;
    font-weight: 400;
}

.post__content__point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc ;
    display:inline-flex;
    margin-right:10px;
    padding-top:10px;
    position: relative;
    top:2px;
}

.post__title {
    font-size:19px;
    margin: 10px 0px;
}

.post__datetime {
    font-size: 10px;
    color:#9f9f9f
}

.post__datetime_time__point{
    border-radius: 6px;
    width: 6px;
    height: 6px;
    border: 1px solid #909090;
    top: -1px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}


/* new */
.news__picture {
    background-image: url("../img/news/ofhlstldxzk-1140x694.jpg");
    min-height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#news {

}

.post__description {
    font-size: 14px;
    font-weight: 400;
}

.post__description--white,
.post__datetime_time--white,
.post__datetime_date--white {
    color:white;
}

.post__content--white {
    background-color: #fff;
    color: #000;
}

.news__item {
    position: relative;
    color:#fff;
}


.news__title {
    padding: 30px;
    position: absolute;
    bottom:30px;

}

.news__modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 8px;
}

.news__list__title {
    padding-bottom: 15px;
    margin :  0px ;
}


#news .news__list__title {
    border-bottom: solid 1px #ccc;;
}


.news__list__auhor {
    list-style: none;
    text-decoration: none;
    color: #111;
}


/* technology */

#technology .news__list__title {

    margin: 0;
    border: solid 0px #fff;
}

.technology__week {
    font-size: 12px;
}

.technology__card{
    margin-top: 50px;
}

.technology__card__img {
    background-repeat: no-repeat;
    min-height: 234px;
    border-radius: 8px;
    background-size: cover;
    background-position: 0px;
}

.technology__card__img--1 {
    background-image: url("../img/card/1.jpg");
}

.technology__card__img--2 {
    background-image: url("../img/card/2.jpg");
}

.technology__card__img--3 {
    background-image: url("../img/card/3.jpg");
}

.technology__card__img--4 {
    background-image: url("../img/card/4.jpg");
    background-size: cover;
    background-position: 0px;
}

.technology__card__img--5 {
    background-image: url("../img/card/5.jpg");
}

.technology__card__img--6 {
    background-image: url("../img/card/6.jpg");
}

.technology__card__content {
    margin-top: 20px;
}


#technology .post__list {
    padding: 0px 0px 0px 0px;
}

#technology .technology__card__content {
    padding-right: 20px ;
}

.technology__load {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.technology__load__iem {
    padding: 14px 40px;
    border-radius: 5px;
    border: solid 0px #fff;
    color:#fff;
    background-color: #2568ef;
    font-size: 14px;
}


#art .news__picture {
    background-image: url("../img/news/ofhlstldxzk-1140x694.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


#art .news__modal {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;

}

#art .post__title {
    font-size: 34px;
    line-height: 44px;
    padding: 0px 15px;
}

#art .post__datetime{
    margin: 0px 15px;
    border-radius: 5px;
}

#art .news__picture {
    border-radius: 8px;
}

#art .news__picture--1 {
    background-image: url("../img/art/1.jpg");
}

#art .news__picture--2 {
    background-image: url("../img/art/2.jpg");
}

/* selected */

#slected .slected__card__img {
    background-image: url("../img/card/1.jpg");

}

.slected__card__img {
    background-repeat: no-repeat;
    min-height: 568px;
    border-radius: 8px;
    background-size: cover;
    background-position: 0px;
}

#slected .technology__card__img{
    max-height: 132px !important;
    height: 132px;
}

.technology__card__img__select {
    background-repeat: no-repeat;
    min-height: 132px;
    border-radius: 8px;
    background-size: cover;
    background-position: 0px;
}

#slected .technology__card__img--2{
    max-height: 132px;
}

#slected .technology__card__content {
    margin-top: 10px;
}

#slected .technology__card {
    margin: 0;
}

#slected .technology__card:first-child {
    margin-top: 40px;
}

#travel .news__picture{
}

#travel .news__picture--1{
    background-image: url("../img/travel/1.jpg");
}

#travel .news__picture--2{
    background-image: url("../img/travel/2.jpg");
}

#travel .news__picture--3{
    background-image: url("../img/travel/3.jpg");
}

#travel .news__picture--4{
    background-image: url("../img/travel/4.jpg");
}

#travel .news__picture--5{
    background-image: url("../img/travel/5.jpg");
}

#travel .news__picture--6{
    background-image: url("../img/travel/6.jpg");
}

#travel .news__item {
    margin-bottom: 30px;
}


#travel .news__picture {
    min-height: 400px;
}

#travel .post__title {
    font-size: 24px;
} 
#travel .post__list {
    margin: 0px 10px -15px;
}

.technology__load__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#catagories .news__picture {
    background-image: url("../img/news/ofhlstldxzk-1140x694.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#videos .news__picture {
    background-image: url("../img/news/ofhlstldxzk-1140x694.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:0px;
    height: 500px;
    min-height:250px;
    
}

#videos .video__news__item .news__picture {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:0px;
    height: 250px;
    
}



#videos .news__modal{
   
    border-radius:0px;
    
}

#videos .news__item {
    padding: 0px;
}

#videos .news__modal {
    margin: 0px;

}

#catagories .news__picture {
    min-height: 280px;
}





#catagories .news__picture--1{
    background-image: url("../img/catagories/1.jpg");
}

#catagories .news__picture--2{
    background-image: url("../img/catagories/2.jpg");
}

#catagories .news__picture--3{
    background-image: url("../img/catagories/3.jpg");
}

#catagories .news__picture--4{
    background-image: url("../img/catagories/4.jpg");
}



#videos .news__picture--1{
    background-image: url("../img/video/1.jpg");
}

#videos .news__picture--2{
    background-image: url("../img/video/2.jpg");
}

#videos .news__picture--3{
    background-image: url("../img/video/3.jpg");
}


/* posts */

.posts__technology__card__content {
    display:flex;
    align-items:center;
    text-align: center;
}

#posts .post__title {
    font-size:34px;
    padding:0px 30px;
    line-height:40px;

}

#posts .posts__technology__card__content_bottom .post__title {
    font-size:15px;
    padding:0px 0px;
    line-height:20px;

}