<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnHype - News &amp; Magazine WordPress Blog Theme</title>

    <link rel="stylesheet" href="../assets/css/styles.css">

    <link rel="stylesheet" href="../assets/css/grid.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="stylesheet" href="../assets/icon/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/owl/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/owl/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    
  />

</head>
<body>
    <div class="container-contact">
        <div id="topcontent">
            <div class="grid wide">
                <div class="row">
                    <div class="col c-12 l-12 m-12">
                        <div class="topcontent__content">
                            <p class="topcontent__content__first">NEW!</p>
                            <p class="topcontent__content__second">Incredible offer for our exclusive subscribers!</p>
                            <p class="topcontent__content__third">Read More <i class="topcontent__content__third__icon ti-angle-right"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="head">
            <div class="grid wide">
                <div class="row">
                    <div class="col c-12 l-12 m-12">
                        <div class="heading">
                            <div class="social">
                                <a><i class="social__icon ti-facebook"></i></a>
                                <a><i class="social__icon ti-twitter-alt"></i></a>
                                <a><i class="social__icon ti-instagram"></i></a>
                                <a><i class="social__icon  ti-youtube"></i></a>
                                <a class="social__select" href="#">About</a>
                                <a class="social__select" href="#">Contact</a>
                                <a class="social__select" href="https://themeforest.net/item/inhype-blog-magazine-wordpress-theme/25824593" target="_blank">Buy them</a>
                            </div>
                            <div class="control">
                                <a class="control__select" href="#">Login</a>
                                <a class="control__select" href="#"  target="_blank">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav">
            <div class="grid wide">
                <div class="row">
                    <div class="c-12 col">
                        <div class="navbar">
                            <div class="navbar-block">
                                <div class="navbar-logo">
                                </div>
                                <div class="navbar-content">
                                    <ul class="navbar-content__header">
                                        <li class="nav-sub">
                                            <a class="nav-sub__item">Demos <i class=" navbar-content__header__icon ti-angle-down"></i></a>
                                            <ul class="nav-sub__demo">
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Demos </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Large Post then Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Large Overlay then Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Large Post then List </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Overlay then List </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Mixed Overlays </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Mixed Large then Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> List </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Classic </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Overlay </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Masonry </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
    
                                                
                                            </ul>
                                        </li>
                                        <li class="nav-sub">
                                            <a class="nav-sub__item"> Features <i class="navbar-content__header__icon ti-angle-down"></i></a>
                                            <ul class="nav-sub__demo">
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Demos </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Large Post then Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Large Overlay then Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Large Post then List </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Overlay then List </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Mixed Overlays </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Mixed Large then Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Grid </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> List </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Classic </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Overlay </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
                                                <li class="nav-sub__demo__item"><p class="item-nav__content"> Masonry </p><i class="ti-angle-right item-nav___icon"></i>
                                                    <ul class="nav-sub__second">
                                                        <li class="nav-sub__second___item">Home page 1</li>
                                                        <li class="nav-sub__second___item">Home page 2</li>
                                                        <li class="nav-sub__second___item">Home page 4</li>
                                                        <li class="nav-sub__second___item">Home page 5</li>
                                                        <li class="nav-sub__second___item">Home page 6</li>
                                                    </ul>
                                                </li>
    
                                                
                                            </ul>
                                        </li>
                                        <li class="nav-sub nav-sub--lifestyle">
                                            <a class="nav-sub__item "> Lifestyle <i class="navbar-content__header__icon ti-angle-down"></i></a>
                                            <ul class="nav-sub__demo--check">
                                                <li class="nav-sub__demo__item--check">
                                                        <div class="news__list__title">
                                                            <h3>Technology</h3>
                                                        </div>
                                                        <div class="check">
                                                            
                                                            <div class="technology__card">
                                                                <div class="mask">
                                                                    <div class="technology__card__img technology__card__img--1">
                                                                        <div class="mask2"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="technology__card__content">
                                                                    <div class="post__list post--bublbe">
                                                                        <span class="post__content">
                                                                            <span class="post__content__point"></span>bussiness
                                                                        </span>
                                                                   
                                                                        <h3 class="post__title">
                                                                            A Place Where Technology Meets Craftsmanship
                                                                        <div class="post__datetime">
                                                                            <span class="post__datetime_date">By</span>
                                                                            <span class="post__datetime_date"><a class="news__list__auhor" href="#">Donal</a></span>
                                                                            <span class="post__datetime_date">December 10, 2019</span>
                                                                            <span class="post__datetime_time"><span class="post__datetime_time__point"> </span>5 Mins read</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="technology__card">
                                                                <div class="mask">
                                                                    <div class="technology__card__img technology__card__img--2">
                                                                        <div class="mask2"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="technology__card__content">
                                                                    <div class="post__list post--blue">
                                                                        <span class="post__content">
                                                                            <span class="post__content__point"></span>travel
                                                                        </span>
                                                                   
                                                                        <h3 class="post__title">
                                                                            12 ways to travel more sustainably that you haven’t thought of yet
                                                                        <div class="post__datetime">
                                                                            <span class="post__datetime_date">By</span>
                                                                            <span class="post__datetime_date"><a class="news__list__auhor" href="#">Donal</a></span>
                                                                            <span class="post__datetime_date">December 10, 2019</span>
                                                                            <span class="post__datetime_time"><span class="post__datetime_time__point"> </span>5 Mins read</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            
                                                            <div class="technology__card">
                                                                <div class="mask">
                                                                    <div class="technology__card__img technology__card__img--3">
                                                                        <div class="mask2"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="technology__card__content">
                                                                    <div class="post__list post--blue">
                                                                        <span class="post__content">
                                                                            <span class="post__content__point"></span>video
                                                                        </span>
                                                                        <h3 class="post__title">
                                                                            Five Things You Need to Know to Start Your Day
                                                                        </h3>
                                                                        <div class="post__datetime">
                                                                            <span class="post__datetime_date">By</span>
                                                                            <span class="post__datetime_date"><a class="news__list__auhor" href="#">Donal</a></span>
                                                                            <span class="post__datetime_date">December 10, 2019</span>
                                                                            <span class="post__datetime_time"><span class="post__datetime_time__point"> </span>5 Mins read</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="technology__card">
                                                                <div class="mask">
                                                                    <div class="technology__card__img technology__card__img--4">
                                                                        <div class="mask2"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="technology__card__content">
                                                                    <div class="post__list post--bublbe">
                                                                        <span class="post__content">
                                                                            <span class="post__content__point"></span>lifestyle
                                                                        </span>
                                                                        <span class="post__content post--orange">
                                                                            <span class="post__content__point"></span>markets
                                                                        </span>
                                                                        <h3 class="post__title">
                                                                            How fashion startups get accepted into tech accelerators
                                                                        </h3>
                                                                        <div class="post__datetime">
                                                                            <span class="post__datetime_date">By</span>
                                                                            <span class="post__datetime_date"><a class="news__list__auhor" href="#">Donal</a></span>
                                                                            <span class="post__datetime_date">December 10, 2019</span>
                                                                            <span class="post__datetime_time"><span class="post__datetime_time__point"> </span>5 Mins read</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        
                                                

                                                </li>
                                            </ul>
                                        </li>
                                        <li>Travel</li>
                                        <li>About</li>
                                        <li>Contact</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar-control">
                                <button class="navbar-control__subscribe">Subscribe</button>
                                <button class="navbar-control__search"><i class="navbar-control__search_icon ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact">
            <div class="grid wide">
                <div class="row">
                    <div class="col m-12 l-12">
                        <div class="technology__card">
                                <div class="technology__card__img technology__card__img--1">
                            </div>
                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact__content">
            <div id="trending">
                <div class="grid wide">
                    <div class="row">
                     
                      
                        <div class="col c-8 m-8 l-8 pad">
                            <div class="row"> 
                                <div class="col c-12 m-12 l-12">
                                
                                </div>
                            
                             
                            </div>
                      
                        </div>
                        <div class="col c-4 m-4 l-4 pad">
                            <div class="h1000">
                                <div class="stick">
                                
                                    <div class="stick__bot">
                                        <a href="#" class="stick__bot--link">
                                            <div class="technology__card__img technology__card__img--8">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="stick__popular">
                                        <div class="news__list__title news__list__title--border">
                                            <h2>Lastest posts</h2>
                                        </div>
                                  
                                         <div class="news__list__title news__list__title__bot">
                                            <div class="row">
                                                <div class="col c-4 m-4 l-4">
                                                    <div class="technology__card__img technology__card__img--2">
                                                    </div>
                                                </div>
                                                <div class="col c-8 m-8 l-8">
                                                    <div class="technology__card1">
                                                        <div class="post__list post--pink">
                                                            <h5 class="post__title nunito">
                                                                How fashion startups get accepted into tech accelerators
                                                            </h5>
                                                            <div class="post__datetime">
                                                                <span class="post__datetime_date"> December 10, 2019 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="news__list__title news__list__title__bot">
                                            <div class="row">
                                                <div class="col c-4 m-4 l-4">
                                                    <div class="technology__card__img technology__card__img--3">
                                                    </div>
                                                </div>
                                                <div class="col c-8 m-8 l-8">
                                                    <div class="technology__card1">
                                                        <div class="post__list post--pink">
                                                            <h5 class="post__title nunito">
                                                                12 ways to travel more sustainably that you haven't thought of yet
                                                            </h5>
                                                            <div class="post__datetime">
                                                                <span class="post__datetime_date"> December 10, 2019 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="news__list__title news__list__title__bot">
                                            <div class="row">
                                                <div class="col c-4 m-4 l-4">
                                                    <div class="technology__card__img technology__card__img--4">
                                                    </div>
                                                </div>
                                                <div class="col c-8 m-8 l-8">
                                                    <div class="technology__card1">
                                                        <div class="post__list post--pink">
                                                            <h5 class="post__title nunito">
                                                                Netflix Price Cuts Are Heating Up India’s Streaming War
                                                            </h5>
                                                            <div class="post__datetime">
                                                                <span class="post__datetime_date"> December 10, 2019 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                    
                           
                             
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-contact">
            <div class="grid wide">
                <div class="row">
                    <div class="c-12 col l-12 m-12">
                    
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="c-4 l-4 m-4 col">
                        <div class="footer__about">
                            <h4 class="footer__about__title">About</h4>
                            <p class="footer__about__content">InHype effective News and Wordpress Blog and Magazine Theme -
                                bestseller theme is perfect for blogging and excellent for a news,
                                newspaper, magazine, publishing or review site.
                            </p>
                            <button class="technology__load__iem nunito4 "><b>About</b></button>
                        </div>
                    </div>
                    <div class="c-4 l-4 m-4 col">
                        <div class="row">
                            <div class="c-6 l-6 m-6 col">
                                <h4 class="footer__about__title">How it works</h4>
                                <ul class="footer__about__list">
                                    <li class="footer__about__list__item">Home</li>
                                    <li class="footer__about__list__item">Contact</li>
                                    <li class="footer__about__list__item">About</li>
                                    <li class="footer__about__list__item">Cookie Policy</li>
                                    <li class="footer__about__list__item">Shortcodes</li>
                                </ul>
                            </div>
                            <div class="c-6 l-6 m-6 col">
                                <h4 class="footer__about__title">Navigation</h4>
                                <ul class="footer__about__list">
                                    <li class="footer__about__list__item">Travel</li>
                                    <li class="footer__about__list__item">Business</li>
                                    <li class="footer__about__list__item">Lifestyle</li>
                                    <li class="footer__about__list__item">Video</li>
                                    <li class="footer__about__list__item">Markets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="c-4 l-4 m-4 col">
                        <h4 class="footer__about__title">Subscribe</h4>
                        <div class="footer__form">
                            <div class="footer__table">
                                <p class="footer__about__content">Get a bi-weekly digest newsletter</p>
                                <input type="text" class="footer__about__input" placeholder="Please enter your e-mail">
                                <button class="technology__load__iem nunito4 "><b>Subscribe</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="c-12 col l-12 m-12">
                        <div class="footer_info">
                            <p>Powered by <span>InHype</span> - News and Magazine Wordpress Blog Theme</p>
                            <div class="footer_info__icon">
                                <i class="ti-facebook"></i>
                                <i class="ti-twitter-alt"></i>
                                <i class="ti-instagram"></i>
                                <i class="ti-youtube"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Set up your HTML -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="owl.js"></script>
    <script src="./assets/owl/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
</body>
</html>